.wrapper {
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.wrapper .column-wrapper {
  display: flex;
}
.wrapper .column-wrapper .column {
  width: 600px;
  flex-grow: 1;
}
.wrapper .column-wrapper .column:nth-child(2) {
  margin-left: 10px;
}
.wrapper .editor-wrapper .asm-editor .editor {
  display: block;
  width: 100%;
  height: 350px;
}
.wrapper .editor-wrapper .asm-editor .editor .active-line {
  background-color: #1E90FF !important;
}
.wrapper .editor-wrapper .asm-editor .editor .ace_gutter-cell.ace_breakpoint {
  background: url("../static/img/breakpoint.png") 1px 1px no-repeat no-repeat;
  background-size: 12px 12px;
}
.wrapper .editor-wrapper .asm-editor .assemble {
  margin-top: 10px;
}
.wrapper .editor-wrapper .errors {
  color: #FF0000;
}
.wrapper .console .text {
  display: block;
  width: 100%;
  height: 200px;
}
.wrapper .console .clear {
  margin-top: 10px;
}
.wrapper .cpu-wrapper .label {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.wrapper .cpu-wrapper .register .label {
  width: 50px;
}
.wrapper .cpu-wrapper .tick-rate input[type=range] {
  width: 80px;
}
.wrapper .memory-wrapper .size-wrapper {
  display: flex;
}
.wrapper .memory-wrapper .size-wrapper .size-label {
  display: flex;
  margin-right: 5px;
}
.wrapper .memory-wrapper .size-wrapper .size-label span {
  margin-left: 5px;
}
.wrapper .memory-wrapper .memory .row {
  display: flex;
  margin: 0;
}
.wrapper .memory-wrapper .memory .row .cell {
  display: inline-block;
  min-width: 30px;
  height: 17px;
  margin: 2px;
  padding: 2px;
  font-size: 11px;
  line-height: 1;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 5px;
  text-align: center;
}
