.editor {
  display: block;
  width: 300px;
  height: 150px;

  .active-line {
    background-color: red;
  }

  .ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
  }
}

.memory {
  .row {
    display: flex;
  }
}
